
*.dll
*.pdb
src/core/WWSInc.Imgur/obj/*
src/core/WWSInc.Imgur/bin/*
src/tests/Imgur-test/obj/*
src/tests/Imgur-test/bin/*
src/.vs/wws-Inc-imgur/v16/.suo
src/.vs/wws-Inc-imgur/DesignTimeBuild/.dtbcache.v2
